

.window--about {


  height: auto;


  @media screen and (min-width: 768px) {
   height: 580px;
 }


  .about-content {
    padding: 20px;
  
    .about-section {

      .about-section__title {
        font-size: 23px;
        margin: 0%;
        padding: 0%;

        @media screen and (min-width: 768px) {
          font-size: 32px;
        }
     }
 

      .about-section__content {
        display: flex;
        align-items: center;
        justify-content: space-between; 

        .about-section__text {
          flex: 1;
          margin-right: 20px;
          max-width: 400px;
        

          &--vague {
            display: none;
            margin: 0%;

            @media screen and (min-width: 768px) {
              display: block;
            }
            
  
          }


          &--abtme1 {
            margin: 0%;
            margin-top: 32px;
           
   
           }
           &--abtme2 {
            margin: 0%;
            margin-top: 8px;
            margin-bottom: 32px;
           
   
           }
 
        }
        
     
        .about-section__image {
          flex-shrink: 0;
          margin-left: 10px;


          img {
            width: 150px;
            height: 150px;
          }
        }
      }

      .about-section__columns {
        display: flex;
        justify-content: space-around; 
        
        .about-column {
          flex: 1; 
          margin-right: 10px;
          
          .about-column__list {
            list-style-type: none;
            padding: 0;
            margin: 10px;

            .about-column__item {
              position: relative;
              padding-left: 20px; 

              &:before {
                content: url('../../assets/images/arrow2.png'); 
                left: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }

        .about-column:last-child {
          margin-right: 0; 
        }
      }
    }
  }
}

.about-column__title {
  margin: 0px; 
  margin-bottom: 10px;
  font-size: 23px;
}




