$footer-color: #FBD2F6;
$footer-text-color: #8A4484;

.footer {
  position: relative;
  background-color: $footer-color;
  color: $footer-text-color;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;

  @media screen and (min-width: 768px) {
    padding: 10px;

  }

  &__content1 {
    margin: 0;
    padding-left: 15px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__content2 {

    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__time {
    margin: 0;
    margin-right: 10px;
    margin-left: 4vw;
    font-size: 20px;

      
  }

  &__text {
    font-size: 16px;
    display: none;
    
    @media screen and (min-width: 768px) {
      font-size: 23px;
      display: block;
    }
    
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px; 
    left: 0;
    width: 100%;
    height: 30px;
    background: inherit;
    filter: blur(10px); 
    z-index: -1;
  }

  .icon {
    width: 30px;
    height: 30px; 
    margin-right: 15px;
  }
  .icon.instagram-icon {
    width: 25px; 
    height: 25px; 
  }
  
}
