$footer-color: #F1DCEF;
$footer-text-color: #8A4484;
$padding: 10px;

.footer {
  position: relative;
  background-color: $footer-color;
  color: $footer-text-color;
  padding: $padding;
  display: flex;
  justify-content: space-between;
  z-index: 0;

  &__content1 {
    margin-left: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &__content2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  &__time {
    margin-right: 10px;
    margin-left: 4vw;
    font-size: 20px;
  }

  &__text {
    font-size: 20px;
  }

  &::before {
    content: "";
    position: absolute;
    top: -10px; 
    left: 0;
    width: 100%;
    height: 30px;
    background: inherit;
    filter: blur(10px); 
  }

  .icon {
    width: 30px; // Ajuste la taille des icônes
    height: 30px; // Ajuste la taille des icônes
    margin-right: 15px;
  }
  .icon.instagram-icon {
    width: 25px; /* Ajustez la taille comme vous le souhaitez */
    height: 25px; /* Ajustez la taille comme vous le souhaitez */
  }
  
}
