.window--music {
  width: 400px;

  .content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    .audio-player {
      .audio-info {
        .audio-title {}

        .audio-image {
          max-width: 200px;
          border-radius: 15px;
          border: 1px solid rgb(242, 0, 255);
        }
      }

      .audio-controls {
        
        .audio-controls__control-buttons {
          margin: 10px;
          padding: 10px;
          border-radius: 20px;
          background-color: #F5F5F5;
          display: flex;
          justify-content: space-between;
          align-items: center;

          button {
            border: none;
           
          }
        }

        .audio-controls__pause-icon {
          display: none;
        
          
        }
      }
    }
  }
}

.music-section__volume-control {
  position: absolute;
  transform: rotate(270deg);
  right: 0; 
  

  input {
    width: 100%; 
    height: 100%;
    appearance: none; 
    background-color: #F1DCEF; 
    border: none; 
    outline: none; 
    padding: 0; 
    margin: 0; 
    cursor: pointer; 

    &::-webkit-slider-thumb {
      background-color: black; 
    }

    &::-moz-range-thumb {
      background-color: black;
    }


  }




  
}

.audio-controls__toggle img {
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;
  margin: 0px 30px;
}

.audio-controls__toggle{

  .audio-controls__pause-icon{
    display: flex;
    align-items: center;
    padding-bottom: 3px;
  
  }
  

}












.audio-controls__next-button img,
.audio-controls__prev-button img{
  display: flex;
  align-items: center;
  width: 30px;
  height: 30px;

}