.window--paint {
  width: 350px;
  height: 420px;

  .content {
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    .window--paint_controls {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .color-button {
        margin-right: 5px;
      }
    }

    .save-button {
      font-family: "lores-12", sans-serif;
      margin-left: auto; 
      border: none;
      background-color: #F1DCEF;
      padding: 10px 20px;
      border-radius: 5px;
      border: 1px solid #8A4484;
    }
  }
}

.color-button {
  width: 30px;
  height: 30px;
  border: none;
  margin: 0px;
}

.blackButton {
  background-color: #000000;
}

.greyButton {
  background-color: #808080;
}

.pinkButton {
  background-color: #F1DCEF;
}
