.window--paint {
  width: 350px;

  background-color: #fef6fd;
  .content {
    max-width: 300px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .window--paint_controls {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .color-button {
        margin-right: 5px;
      }
    }

    .save-button {
      font-family: "lores-12", sans-serif;

    }
  }
}

.color-button {
  width: 30px;
  height: 30px;
  border: none;
  margin: 0px;
}

.blackButton {
  background-color: #000000;
}

.greyButton {
  background-color: #808080;
}

.pinkButton {
  background-color: #FBD2F6;
}

.container {
  margin: 50px;
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

}

.paintCanvas {
  background-color: #ffffff;
  border:1px solid #FBD2F6;
  margin-bottom: 20px;
}




.pixelbutton {
  font-size: 16px;
  color: rgb(0, 0, 0);
  height: auto;
  cursor: pointer;
  
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.pixelbutton:active {
  top: 2px;
}


.pixelbutton::before {
  content: "";
  display: block;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: -10px;
  right: -10px;
  background: #FBD2F6;
  z-index: -1;
}

.pixelbutton::after {
  content: "";
  display: block;
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: -6px;
  right: -6px;
  background: #FBD2F6;
  z-index: -1;
}

.pixelbutton {
  padding: 5px 10px;
  position: relative;
  background: #FBD2F6;
  width: auto;
  z-index: 2;
  border: #FBD2F6;
}