


.window--paint {
  width: 500px;
  .content {
    display: flex;
    justify-content: center; // Pour aligner les éléments à gauche et à droite
    align-items: center; // Pour aligner les éléments verticalement au centreµ
    

    .window--paint_controls {
      display: flex;
      align-items: center;
 

      .color-button {
        margin-right: 5px; // Ajoutez une marge à droite entre les boutons de couleur
      }
    }

    #saveButton {
      margin-left: auto; // Pour pousser le bouton "Save" vers la droite
      border: none;
      background-color: #F1DCEF;
      padding: 10px 20px;
      border-radius: 5px;
      border: 1px solid #8A4484;
    }
  }
}






.color-button {
  width: 30px;
  height: 30px;
  border: none;
  margin: 0px;
}

#blackButton {
  background-color: #000000;
}

#greyButton {
  background-color: #808080;
}

#pinkButton {
  background-color:  #F1DCEF;
}







