.desktop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.icon {
  &--about,
  &--projects,
  &--me,
  &--paint,
  &--music {
    width: 80px;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

    img {
      width: 50px; 
      height: 50px;
    }

    span {
      margin-top: 5px;
    }
  }
}

.window {
  position: absolute;
  width: 500px;
  height: 400px;
  background-color: white;
  border: 5px solid #F1DCEF;
  border-radius: 5px;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.active {
    display: block;
  }

  &--about,
  &--projects,
  &--me,
  &--paint,
  &--music {
    .title-bar {
      background-color: #F1DCEF;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  

      .title {
        font-weight: bold;
      }
  
      .title-bar__controls {
        display: flex;
        background-color: #F5F5F5;
        padding: 5px;
        border-radius: 5px;
 
  
        div {
          padding-left: 10px;
          padding-right: 10px;
          cursor: pointer;
        }
      }
    }

    .content {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: flex-start;
      
  

    .project-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 10px;
      justify-content: flex-start; // Pour aligner les icônes à gauche
    }
    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100px;
      cursor: pointer;

    }
 
    img {
      width: 60px;
      height: 60px;
      margin-bottom: 5px;
    }

    span {
      font-size: 12px;
    }
    }
  }
}

.color-button {
  width: 30px;
  height: 30px;
  border: none;
  margin: 0px;
}

#blackButton {
  background-color: #000000;
}

#greyButton {
  background-color: #808080;
}

#pinkButton {
  background-color: #FFC0CB;
}



/*
.window {
  &--projects {
    .title-bar {
      &__title {
        // styles pour le titre de la barre de titre
      }

      &__controls {
        // styles pour les contrôles de la barre de titre
      }
    }

    .filter-buttons {
      // styles pour le conteneur des boutons de filtrage
    }

    .filter-button {
      // styles de base pour les boutons de filtrage
      &--personal {
        // styles spécifiques au bouton de filtrage "Personal"
      }

      &--school {
        // styles spécifiques au bouton de filtrage "School"
      }
    }

    .content {
      // styles pour le contenu des projets
      .project-list {
        // styles pour la liste des projets
        .project {
          // styles de base pour chaque projet
          &--personal {
            // styles spécifiques aux projets personnels
          }

          &--school {
            // styles spécifiques aux projets scolaires
          }

          &__name {
            // styles pour le nom du projet
          }
        }
      }
    }
  }
}
*/