.desktop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.icon {
  
  &--about,
  &--projects,
  &--me,
  &--paint,
  &--music {
    width: 80px;
    height: 80px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

 

    img {
      width: 50px; 
      height: 50px;
    }

    span {
      margin-top: 5px;
    }

  }
}

.window {
  position: absolute;
  width: 600px;
  height: auto;
  background-color: white;
  border: 5px solid #F1DCEF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.active {
    display: block;
  }

  &--about,
  &--projects,
  &--me,
  &--paint,
  &--music {
    .title-bar {
      background-color: #F1DCEF;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
  

      .title {
        font-weight: bold;
      }
  
      .title-bar__controls {
        display: flex;
        background-color: #F5F5F5;
        padding: 5px;
        border-radius: 5px;
 
  
        div {
          padding-left: 10px;
          padding-right: 10px;
          cursor: pointer;
        }
      }
    }






      



    .content {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: flex-start;

      


    .project-list {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      padding: 10px;
      justify-content: flex-start; // Pour aligner les icônes à gauche
   
     
    }
    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100px;
      cursor: pointer;

    }

 
    img {
      width: 60px;
      height: 60px;
      margin-bottom: 5px;
    }

    span {
      font-size: 12px;
    }
    }

    
  }
}






.window--project-details {
  position: absolute;
  width: 500px;
  height: 400px;
  background-color: white;
  border: 5px solid #F1DCEF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  
  .title-bar {
    background-color: #F1DCEF;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    .title-bar__controls {
      display: flex;
      background-color: #F5F5F5;
      padding: 5px;
      border-radius: 5px;
      
      div {
        padding-left: 10px;
        padding-right: 10px;
        cursor: pointer;
      }
    }
  }
  
  .content {
    padding: 10px;

  }
}













.window--about {
  height: auto;

  .about-content {
    .about-section {
      .about-section__content {
        display: flex;
        align-items: center;
        justify-content: space-between; /* Pour séparer le texte et l'image */

        .about-section__text {
          flex: 1;
          margin-right: 20px; /* Espace entre le texte et l'image */
          max-width: 400px;
        }

        .about-section__image {
          flex-shrink: 0;
          margin-left: 10px;

          img {
            width: 150px;
            height: 150px;
          }
        }
      }

      .about-section__columns {
        display: flex;
        justify-content: space-between; /* Pour créer deux colonnes */
        
        .about-column {
          flex: 1; /* Pour que chaque colonne prenne la moitié de l'espace disponible */
          margin-right: 100px; /* Espace entre les colonnes */
          
          .about-column__list {
            list-style-type: none; /* Supprimer les puces */
            padding: 0;
            margin: 10px;

            .about-column__item {
              position: relative; /* Pour positionner l'icône SVG */
              padding-left: 20px; /* Espace pour l'icône */

              &:before {
                content: url('../../assets/images/arrow2.png'); /* Remplacez le chemin de l'image par le vôtre */
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }
        }

        .about-column:last-child {
          margin-right: 0; /* Aucun espace à droite pour la dernière colonne */
        }
      }
    }
  }
}

.about-column__title {
  margin-top: 10px; 
}













.filter-buttons {
  .filter-button {
    margin-top: 20px;
    margin-left: 10px;
    background-color: #d4c2d3;
    margin-right: 5px; // Ajoutez une marge entre les boutons si nécessaire
    padding: 10px 15px; // Ajoutez du rembourrage pour un meilleur aspect
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; // Ajoutez une transition pour un effet de changement de couleur fluide
  

    &:focus{
      background-color: #F1DCEF; // Changez la couleur lorsqu'il n'est pas en focus
    }
    
  }
}

.content.project-list {
  background-color: #F1DCEF; // Changez la couleur de fond en noir
  margin: 10px;
  margin-top: 0px;
}



.color-button {
  width: 30px;
  height: 30px;
  border: none;
  margin: 0px;
}

#blackButton {
  background-color: #000000;
}

#greyButton {
  background-color: #808080;
}

#pinkButton {
  background-color: #FFC0CB;
}





.rotation-span {
  position: absolute;
  top: 10px;
  right: 10px;
}

.rotation-span img {
  width: 24px; /* Correction de la valeur de largeur */
  height: 24px;
  animation: rotateAnimation 1s infinite alternate; /* Utilisation de l'option "alternate" pour alterner la direction de l'animation */
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); /* L'angle de départ est de 0 degré (gauche) */
  }
  100% {
    transform: rotate(30deg); /* À la fin de l'animation, l'angle de rotation est de 30 degrés (droite) */
  }
}



@media screen and (max-width: 768px) {
  .window {
    width: 450px; 
  }

  .about-section__image img {
    margin: 0%;
    padding: 0%;
    width: 50px; /* Redimensionner l'image à 100px de largeur sur les appareils mobiles */
    height: 50px; /* Redimensionner l'image à 100px de hauteur sur les appareils mobiles */
  }

  .about-section__text {
    width: 250px; /* Augmenter la largeur maximale du texte à 300px sur les appareils mobiles */
  }
}











/*
.window {
  &--projects {
    .title-bar {
      &__title {
        // styles pour le titre de la barre de titre
      }

      &__controls {
        // styles pour les contrôles de la barre de titre
      }
    }

    .filter-buttons {
      // styles pour le conteneur des boutons de filtrage
    }

    .filter-button {
      // styles de base pour les boutons de filtrage
      &--personal {
        // styles spécifiques au bouton de filtrage "Personal"
      }

      &--school {
        // styles spécifiques au bouton de filtrage "School"
      }
    }

    .content {
      // styles pour le contenu des projets
      .project-list {
        // styles pour la liste des projets
        .project {
          // styles de base pour chaque projet
          &--personal {
            // styles spécifiques aux projets personnels
          }

          &--school {
            // styles spécifiques aux projets scolaires
          }

          &__name {
            // styles pour le nom du projet
          }
        }
      }
    }
  }
}
*/