.desktop {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column; 
  align-items: flex-start;
  margin-top: 20px;
  width: 100%;
  height: 100%;
}

.icon {
  
  &--about,
  &--projects,
  &--me,
  &--paint,
  &--credits,
  &--music {
    filter: grayscale(1) contrast(150%);
    
    width: 80px;
    height: 70px;
    margin: 10px;
    margin-left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

 
    @media screen and (min-width: 768px) {
      height: 80px;
    }

    img {
      width: 45px; 
      height: 45px;

      @media screen and (min-width: 768px) {
        width: 50px; 
        height: 50px;
      }
    }

    span {
      margin-top: 5px;
      font-size: 16px;
    }

  }

  
&--projects{
  filter: grayscale(0);

}

}



.window {
  position: absolute;
  width: 600px;
  background-color: #ffffff;
  border: 5px solid #FBD2F6;
  box-shadow: 0px 0px 15px #FBD2F6;
  border-radius: 10px;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  &.active {
    display: block;
  }

  &--about,
  &--projects,
  &--paint,
  &--credits,
  &--music {
    .title-bar {
      background-color: #FBD2F6;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: relative;
      top: -1px;


      .title {
        font-weight: bold;
      }
  
      .title-bar__controls {
        display: flex;
        background-color: #ffffff;
        border-radius: 5px;
        
 
  
        div {
          padding: 2px;
          cursor: pointer;
        }
        img {
         width: 25px;
         height: 25px;
         display: flex;
         align-items: center;
        }
      }
    }


    .content {
      padding: 10px;


    }
  }
    
  }








































  
  
  
  .lace-image-container {
    background-image: url('../../assets/images/lace.png');
    background-repeat: repeat-x;
    background-size: auto 80%;
    background-position: top left; 
    transform: rotate(0.1deg); 
  
    position: relative;
    width: 100%; 
    height: 50px; 
    overflow: hidden; 
    top: -4px;
  }
  
  .lace-image {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0; 
    left: 0; 
    background-image: url('../../assets/images/lace.png');
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: bottom left; 
  }
  










































.rotation-span {
  position: absolute;
  top: 10px;
  right: 10px;
}

.rotation-span img {
  width: 24px; 
  height: 24px;
  animation: rotateAnimation 1s infinite alternate;
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg); 
  }
  100% {
    transform: rotate(30deg); 
  }
}













@media screen and (max-width: 768px) {
  .window {
    width: 450px; 
  }

  .about-section__image img {
    margin: 0%;
    padding: 0%;
    width: 50px; 
    height: 50px; 
  }

  .about-section__text {
    width: 250px; 
  }
}












@media screen and (max-width: 460px) {
  .window {
    width: 340px; 


  }

  .about-section__image img {
    display: none;

  }

  .about-section__text {
    width: 250px; 
  }

     
  .about-section-column {
    display: block;
  }

  

}

