




.window--projects {


  height: 350px;

  @media screen and (min-width: 768px) {
   height: 400px;
 }

    .content {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      


    .project-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; 
   
     
    }
    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100px;
      cursor: pointer;

    }

 
    img {
      width: 60px;
      height: 60px;
      margin-bottom: 5px;
    }

    span {
      font-size: 12px;
    }
    }
  }
    
  


























.window--project-details {
  position: absolute;
  background-color: white;
  border: 5px solid #FBD2F6;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  
  .title-bar {
    background-color: #FBD2F6;
    border-top: 1px solid #FBD2F6;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    .title-bar__controls {
      display: flex;
      background-color: #F5F5F5;
      border-radius: 5px;


      div {
        padding: 2px;
        cursor: pointer;
      }
      img {
       width: 25px;
       height: 25px;
       display: flex;
       align-items: center;
      }
    }


  }
  
  .content {
    padding: 10px;

  }
}


















.filter-buttons {

}

.content.project-list {
 //// background-color: #FBD2F6; 
 //// margin: 10px;
 //// margin-top: 0px;
  border-radius: 5px;
 //// border: 1px solid #8A4484; 

}






.window--project-details{

  
  .content {
    flex: 1;
    display: block;
    flex-direction: column;
    padding: 20px;

    .project-details-content__header {
      display: flex;
      align-items: center;


      @media (max-width: 768px) {
        flex-direction: column-reverse; 
     
        justify-content: space-between;
      }
    }

    .project-details-content__title {
      font-size: 23px;
      font-weight: bold;
      margin: 0;
      margin-top: 8px;
      margin-bottom: 16px;

      @media (min-width: 768px) {
        margin: 0%;
      }
    }

    .project-details-content__text{
      max-width: 500px;
      margin: 0%;
      margin-top: 8px;
      margin-bottom: 8px;

      @media (max-width: 768px) {
        margin-top: 20px;
      }
  
    }
    .project-details-content__image {
      max-width: 200px;
      height: auto;
      border-radius: 10px;
      margin-top: 20px;
      margin-right: 20px;

      @media screen and (min-width: 768px) {
        max-width: 300px;
      }
     
      
    }

    .project-details-content__button {
      font-family: "lores-12", sans-serif;
      display: block;
      font-size: 16px;
      margin: 8px auto;
      padding: 10px 15px;
       text-align: center;
        justify-content: center;
         align-items: center;
             font-style: oblique;
              color:#8A4484;
               border: 4px double #FBD2F6;
                text-shadow:#FBD2F6 0px 5px 5px;
                background-color: transparent;
    }


      .project-details-content__feature-column {
        
        .project-details-content__feature-list {
          list-style: none;
          padding: 0;
          
          .project-details-content__feature-item {
            display: inline-block;
            margin: 5px 10px;
         
          
          }
        }
      }
    }
  }






















