




.window--projects {



    .content {
      padding: 10px;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;

      


    .project-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start; // Pour aligner les icônes à gauche
   
     
    }
    .project {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 100px;
      cursor: pointer;

    }

 
    img {
      width: 60px;
      height: 60px;
      margin-bottom: 5px;
    }

    span {
      font-size: 12px;
    }
    }
  }
    
  


























.window--project-details {
  position: absolute;
  background-color: white;
  border: 5px solid #F1DCEF;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  display: none;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  
  .title-bar {
    background-color: #F1DCEF;
    border-top: 1px solid #F1DCEF;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    
    .title-bar__controls {
      display: flex;
      background-color: #F5F5F5;
      padding: 5px;
      border-radius: 5px;


      div {
        padding: 2px;
        cursor: pointer;
      }
      img {
       width: 25px;
       height: 25px;
       display: flex;
       align-items: center;
      }
    }


  }
  
  .content {
    padding: 10px;

  }
}


















.filter-buttons {
  .filter-button {
    font-family: "lores-12", sans-serif;
    margin-top: 5px;
    margin-left: 13px;
    background-color: #d4c2d3;
    margin-right: 5px; // Ajoutez une marge entre les boutons si nécessaire
    padding: 10px 15px; // Ajoutez du rembourrage pour un meilleur aspect
    border-bottom: none; /* Supprime la bordure inférieure */
    border-radius: 5px 5px 0 0; 
    border-top: 1px solid #8A4484; /* Ajoute une bordure supérieure de 2 pixels */
    border-left: 1px solid #8A4484; /* Ajoute une bordure gauche de 2 pixels */
    border-right: 1px solid #8A4484;
    z-index: 2;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
  

    &:focus{
      background-color: #F1DCEF;
    }
    
  }
}

.content.project-list {
  background-color: #F1DCEF; 
  margin: 10px;
  margin-top: 0px;
  border-radius: 5px;
  border: 1px solid #8A4484; 

}






.window--project-details{

  
  .content {
    flex: 1;
    display: block;
    flex-direction: column;
    padding: 20px;

    .project-details-content__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

    }

    .project-details-content__title {
      font-size: 23px;
      font-weight: bold;
      margin: 0;
      margin-top: 8px;
      margin-bottom: 16px;
    }

    .project-details-content__text{
      max-width: 300px;
      margin: 0%;
      margin-top: 8px;
      margin-bottom: 8px;
  
    }
    .project-details-content__image {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
      margin-top: 20px;
    }
    .project-details-content__button {
      font-family: "lores-12", sans-serif;
      display: block;
      margin: 8px auto;
      padding: 10px 15px;
      background-color: #F1DCEF;
      border: none;
      border-radius: 20px;
      border: 1px solid #8A4484;
  
    }


    .project-details-content__features {
      display: flex;
      justify-content: space-between;
      margin-top: 20px;
      font-weight: bold;
   
      
      .project-details-content__feature-column {
        flex: 1;
        
        .project-details-content__feature-list {
          list-style: none;
          padding: 0;
          
          .project-details-content__feature-item {

            margin-bottom: 10px;
         
          
          }
        }
      }
    }
  }
}





















