.window {
  &--me {
    .title-bar {
      background-color: #F1DCEF;
      padding: 5px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .title-bar__controls {
        display: flex;
        background-color: #F5F5F5;
        padding: 5px;
        border-radius: 5px;
 
  
        div {
          padding: 2px;
          cursor: pointer;
        }
        img {
         width: 25px;
         height: 25px;
         display: flex;
         align-items: center;
        }
    }
  }
    .content--me {
      padding: 10px;
      padding-top: 0;

      &__paragraph {
        margin: 0%;
        padding-left: 10px;
        padding-right: 10px;
        text-align: left;
        max-width: 900px;
        font-size: 23px;


        &--large {
          font-size: 32px;
          padding: 10px;
          text-align: left;
          max-width: 900px;
        }

      }

      &__image {
       margin: 0 auto;
       display: flex;
       
        img {
          max-width: 50%;
          height: auto;
        }
      }
    }
  }
}
