@import 'utils/variables';
@import 'components/footer';
@import 'components/popup';
@import 'components/reglages';
@import 'components/welcome';
@import 'components/aboutme';
@import 'components/projets';
/*@import 'components/chat';*/







html, body{
  height: 100%;
  margin: 0;
  font-family: "lores-12", sans-serif;
  line-height: 150%;
  overflow: hidden;
  

}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url(../assets/images/loizo.png), url(../assets/images/back3.png);
  background-size: 50% auto, auto; /* Taille maximale de 400px pour le premier arrière-plan */
  background-repeat: no-repeat, repeat;
  background-position: center, center;
}


.header {
  text-align: center;
}

.content {
  flex: 1;
}



body {
  body { cursor: url('../assets/cursor/move.cur') x y, auto; }
}






