@import 'utils/variables';
@import 'components/footer';
@import 'components/popup';
@import 'components/music';
@import 'components/welcome';
@import 'components/aboutme';
@import 'components/projets';
@import 'components/paint';
@import 'components/credits';
/*@import 'components/chat';*/






* {
  cursor: url(https://cur.cursors-4u.net/smilies/smi-3/smi268.ani),
  url(https://cur.cursors-4u.net/smilies/smi-3/smi268.gif), auto !important;


 
}


html, body{
  height: 100%;
  margin: 0;
  font-family: "lores-12", sans-serif;
  line-height: 150%;
  overflow: hidden;

}

body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  background-image: url(../assets/images/loizo3.svg), url(../assets/images/fondmobile4.svg);
  background-size: 40% auto, auto; 
  background-repeat: no-repeat, repeat-x;
  background-position: center, center;
}


@media (min-width: 1000px) {
  body {
      background-image: url(../assets/images/loizo3.svg), url(../assets/images/fond9.svg);
  }
}


.header {
  text-align: center;
}

.content {
  flex: 1;
}



.deco-centred {
  margin: 0%;
  display: flex;
  justify-content: center;

}


.bold {
font-weight: bold;
}



* {cursor: url(https://cur.cursors-4u.net/smilies/smi-3/smi268.ani), url(https://cur.cursors-4u.net/smilies/smi-3/smi268.gif), auto !important;} 






.link {
  color:#000000;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #000000; 


}




